@model ArticlesApp.Models.Article


<h2 class="text-center mt-5">Adaugare articol</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3"> 

            @using (Html.BeginForm(actionName: "New", controllerName: "Articles",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })  

                @Html.Label("Title", "Titlu Articol")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br /><br />

                @Html.Label("Content", "Continut Articol")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })

                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                <br /><br />

                <label>Selectati categoria</label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                "Selectati categoria", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
                <br /><br />

                <button class="btn btn-success" type="submit">Adauga articol</button>
            
            }
            
        </div>
    </div>
</div>








