@model ArticlesApp.Models.Article


@* Afisarea unui articol impreuna cu categoria din care face *@

@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"]">
        @TempData["message"]
    </div>
}

<br />

<div class="card">

    @Html.Partial("ArticleInfo", Model) 

    @if (ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-success" href="/Articles/Edit/@Model.Id">Editeaza articol</a>

            <form method="post" action="/Articles/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge articol</button>

            </form>

        </div>
    }

    <form method="POST" asp-controller="Articles" asp-action="AddBookmark">
        <input type="hidden" name="ArticleId" value="@Model.Id" />
        <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">
            <div>
                    <select name="BookmarkId" class="form-control">
                        <option selected>Adauga acest articol intr-o colectie</option>
                        @foreach (var bookmark in ViewBag.UserBookmarks)
                        {
                            <option value="@bookmark.Id">@bookmark.Name</option>
                        }
                    </select>
            </div>
            <div>
                <input type="submit" class="btn btn-success alert-success" value="+" />
            </div>
        </div>
    </form>
</div>

    @* 
    * Mai sus se afla varianta in care se utilizeaza helperul @Html.Partial
    * Mai jos se afla varianta in care se utilizeaza tagul <partial>

    <partial name="ArticleInfo" model="Model"></partial> *@

    @*

    * Partialul inlocuieste secventa de cod comentata
    * Secventa a fost mutata in partialul ArticleInfo
    * Partial care este apelat

    <div class="card-body">

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>

        <div class="card-text">@Model.Content</div>

        <div class="d-flex justify-content-between flex-row mt-5">

            <div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div>

            <span class="alert-success">@Model.Date</span>

        </div>

    </div>
    *@

    

<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>

                </div>
                <br>


                    @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                    {

                        <div class="d-flex">

                            <div>

                                <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                            </div>

                            <div>

                                <form method="post" action="/Comments/Delete/@comm.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                </form>

                            </div>

                        </div>
                    }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">
                
                <form method="post" action="/Articles/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="ArticleId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
