@model PanaitAnaM32.Models.Ticket


@if (ViewBag.Message != null)
{
    <h2 class="alert-danger p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}


<h2 class="text-center mt-5">Cautare bilete</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "CautareBilete", controllerName: "Tickets",
            method: FormMethod.Post))
            {

                @Html.Label("Data", "Bilete care pot fi vandute pana la data de:")
                <input asp-for="@Model.Data" class="form-control" />
                @Html.ValidationMessageFor(m => m.Data, null, new { @class = "text-danger" })
                <br />
                <br />

                @Html.Label("Pret", "Pretul sa fie mai mic sau egal ca:")
                @Html.TextBox("Pret", null, new { @class = "form-control" })
                @Html.ValidationMessage("Pret", null, new { @class = "text-danger" })
                <br />
                <br />

                <div class="d-flex justify-content-center align-content-center">
                    <button class="btn btn-success" type="submit">Cauta bilete</button>
                </div>
            }
        </div>
    </div>
</div>




