@model PanaitAnaM32.Models.Ticket


@if (ViewBag.Message != null)
{
            <h2 class="alert-danger p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}


<h2 class="text-center mt-5">Editare bilet</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Tickets",
                 method: FormMethod.Post,
                 routeValues: new { id = Model.Id }))
            {

                @Html.Label("TitluBilet", "Titlu bilet")
                                    <br />
                @Html.TextBox("TitluBilet", null, new {  @class = "form-control" })

                @Html.ValidationMessageFor(m => m.TitluBilet, null, new { @class = "text-danger" })
                <br />
                <br />

                @Html.Label("Pret", "Pretul biletului")
                @Html.TextBox("Pret", null, new { @class = "form-control" })
                @Html.ValidationMessage("Pret", null, new { @class = "text-danger" })
                <br />
                <br />

                @Html.Label("Data", "Data biletului")
                <input asp-for="@Model.Data" class = "form-control"/>
                @Html.ValidationMessageFor(m => m.Data, null, new { @class = "text-danger" })
                <br />
                <br />


                <label>Selectati filmul</label>
                @Html.DropDownListFor(m => m.MovieId, new SelectList(Model.Movies, "Value", "Text"),
                "Selectati filmul", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.MovieId, null, new { @class = "text-danger" })
                <br />
                <br />

                <div class="d-flex justify-content-center align-content-center">
                        <button class="btn btn-success" type="submit">Modifica biletul</button>
                </div>
            }
        </div>
    </div>
</div>




